<!DOCTYPE html>
<html ng-app='app'> <!--Musu aplikacija vadinsis app ir visus kitus parametrus mes siesim su juom-->
<head>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</head>
  <body>
  
    <div ng-controller='firstController'>
      <input type='text' ng-model='myFactoryFirst.helloImFactory'>
    </div>

    <div ng-controller='secondController'>
      <input type='text' ng-model='myFactorySecond.helloImFactory'>
    </div>

  </body>
</html>